@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@400;700&family=Stick+No+Bills&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

/* root styles */
:root {
    --red: #e63946;
    --white: #f1faee;
    --lightBlue: #a8dadc;
    --medBlue: #457b9d;
    --darkBlue: #1d3557;
}
/* normal styles */
::placeholder {
    color: grey;
    font-weight: 500;
}
.blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}
html,
body {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    background: #fff;
}
/* section one */
.section-1 {
    background: var(--white);
}
.section-1 img {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 20px;
}
/* burger menu button using javascript */
.burger {
    display: none;
}
.burger div {
    height: 3px;
    width: 20px;
    background: #191919;
    margin: 3px;
    transition: all 0.3s ease;
}

.section-1 ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-1 a {
    text-decoration: none;
    color: #191919;
    font-weight: 600;
}
.section-1 li {
    margin: 0 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.section-1 li::before {
    content: "";
    position: absolute;
    background: var(--red);
    height: 3px;
    width: 43px;
    top: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform: scaleX(0);
    transition: all 0.2s ease-in;
    transform-origin: left;
}
.section-1 li:nth-of-type(2)::before {
    width: 65px;
}
.section-1 li:nth-of-type(3)::before {
    width: 55px;
}
.section-1 li:nth-of-type(4)::before {
    width: 60px;
}
.section-1 li:hover::before,
.section-1 li:active::before {
    transform: scaleX(1);
    /* transform-origin: right; */
}
/* section two  */
.section-2 {
    position: relative;
    height: 500px;
}
.section-2::after {
    content: "";
    width: 100%;
    height: 150px;
    background: #fff;
    bottom: -50px;
    left: 0;
    position: absolute;
    clip-path: polygon(0% 0%, 49% 0, 100% 75%, 75% 100%, 0% 100%);
}
.section-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(../images/stefan-stefancik-5p_7M5MP2Iw-unsplash.jpg);
    filter: brightness(40%);
    z-index: -1;
    background-size: cover;
}
.section-2 h2 {
    font-family: "Dosis", sans-serif;
    color: #fff;
    letter-spacing: 3px;
    width: 310px;
    font-size: 3em;
    margin-left: 100px;
    margin-top: -30px;
}
.section-2 span:nth-of-type(1) {
    background: #db2955;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
}
/* section two(form)  */
.section-2 form {
    background: #fff;
    height: 300px;
    width: 250px;
    position: relative;
    z-index: 100;
    bottom: -120px;
    margin-right: 80px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.section-2 form h2 {
    font-family: "Pacifico", sans-serif;
    margin: 0;
    font-size: 2em;
    letter-spacing: 0;
    text-align: center;
    color: #102542;
    width: 100%;
}
.section-2 input {
    background: #fff;
    color: #191919;
    border: none;
    outline: none;
    height: 30px;
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 5px;
    border-bottom: 2px solid grey;
}

.section-2 button {
    display: block;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 12px 35px;
    background: #2c2a4a;
    color: #fff;
    font-weight: 500;
    position: relative;
    border-radius: 2px;
    z-index: 1;
    font-family: "Crete Round", serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.section-2 button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: var(--red);
    transform: scaleX(0);
    border-radius: 2px;
    z-index: -1;
    transition: all 0.3s ease-out;
    transform-origin: left;
}
.section-2 button:hover::before {
    transform: scaleX(1);
}
.section-2 p {
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    color: #0c1821;
}
.section-2 a {
    color: var(--red);
    text-decoration: none;
    background: #db2955;
    color: white;
    padding: 0 2px 2px 2px;
    border-radius: 2px;
    transition: all 0.15s ease-in;
    margin-left: 5px;
}
.section-2 a:hover {
    color: #db2955;
    background: white;
    font-weight: bold;
}
/* section three  */
.section-3 {
    margin-top: 160px;
}
.section-3 h1 {
    text-align: center;
    font-size: 2rem;
    background: -webkit-linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* first card */
.section-3 .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0086b3;
    border-radius: 5px;
    clip-path: circle(28% at 0 0);
    z-index: -1;
    transition: all 0.2s ease-in-out;
    border: 10px solid #0086b3;
}
.section-3 .card p {
    letter-spacing: 1px;
    color: #0086b3;
    transition: all 0.2s ease-in-out;
}
.section-3 .card:hover p {
    color: #fff;
}
.section-3 .card:hover::before {
    clip-path: circle(141.2% at 0 0);
}
.section-3 p {
    font-family: "Stick No Bills", sans-serif;
    color: #0086b3;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}
/* section four  */
.section-4 {
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
.section-4::before {
    content: "";
    width: 120%;
    height: 85%;
    position: absolute;
    background: radial-gradient(var(--lightBlue), white);
    z-index: -1;
    top: 90px;
    left: -50px;
    transform: rotate(-5deg);
}
.section-4 h2 {
    text-align: center;
    font-size: 3em;
    background: -webkit-linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.section-4 .grid {
    grid-template-columns: 1fr 1fr;
    /* column-gap: 20px; */
}
.section-4 img {
    width: 90%;
    min-width: 445px;
    height: calc(width - 10px);
    border-radius: 7px;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
}
.section-4 ul {
    height: 80%;
    width: 70%;
    justify-self: start;
    align-self: center;
    margin-bottom: 50px;
}
.lneat {
    display: flex;
    flex-direction: column;
}
.section-4 li {
    width: 100%;
    font-family: "Nunito", sans-serif;
    color: #4a4e69;
    text-align: left;
    letter-spacing: 0.5px;
    font-size: 1.5em;
    margin: 20px 0;
}
/* section five  */
.section-5 {
    margin-top: 200px;
}
.section-5 h2 {
    text-align: center;
    font-size: 2em;
    background: -webkit-linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #03071e,
        #003049
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.section-5 img {
    width: 100px;
    height: 100px;
}
.section-5 .grid {
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    width: 70%;
}
.card-2 {
    height: 160px;
    width: 120px;
    background: #abc4ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    justify-self: center;
    align-self: center;
}
.card-2:hover {
    transform: scale(1.1);
}
.card-2::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #aaa1c8;
    z-index: -1;
    border-radius: 5px;
    clip-path: circle(0% at 50% 50%);
    transition: all 0.3s ease-in-out;
}
.card-2:hover::before {
    clip-path: circle(70.7% at 50% 50%);
}
.card-2 p {
    color: black;
    font-weight: bold;
}
/* footer styles */
.footer {
    width: 100%;
    background: #0f110c;
    margin-top: 80px;
    height: auto;
}
.footer .flex {
    justify-content: center;
}
.footer .flex img {
    height: 50px;
    width: 200px;
    margin-top: 35px;
}
.footer .grid {
    margin-top: 10px;
}
.footer .foot-solo {
    justify-self: center;
}
.footer h5 {
    color: #cae9ff;
    text-align: center;
    font-size: 1em;
}
.footer p {
    text-align: center;
    color: lightgrey;
    font-size: 0.8em;
    max-width: 160px;
}
.footer a {
    text-decoration: none;
    color: lightgrey;
}
.footer #end-para {
    margin-top: 0;
    margin-bottom: 0;
    color: #cae9ff;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
}
.footer .foot-solo:nth-of-type(3) img {
    width: 30px;
    height: 30px;
}
/* adding keyframes animation */
@keyframes navLinkFade {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* adding about page  */
.about {
    background: lightgrey;
    padding: 50px 0px;
    margin: 0;
}
.about + .footer {
    margin-top: 0;
}
.about h1 {
    font-size: 2.3rem;
    text-align: center;
}

.about p {
    font-family: "Nunito", sans-serif;
    width: 80%;
    color: rgb(74, 78, 105);
    text-align: center;
    margin-inline: auto;
    line-height: 2rem;
}
/* adding media queries  */
@media (max-width: 1060px) {
    .section-3 .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 100px;
    }
    .section-3 .card:nth-of-type(1),
    .section-3 .card:nth-of-type(3) {
        justify-self: flex-end;
    }
    .section-3 .card:nth-of-type(2),
    .section-3 .card:nth-of-type(4) {
        justify-self: flex-start;
    }
    .section-4 img {
        margin-bottom: 50px;
    }
    .section-4 li {
        font-size: 1.3em;
        text-align: center;
    }
    .section-5 .grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .section-5 .card-2 {
        grid-column: span 2;
    }
    .section-5 .card-2:nth-of-type(7),
    .section-5 .card-2:nth-of-type(8) {
        grid-column: span 3;
    }
}
@media (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
        margin-right: 50px;
        cursor: pointer;
        z-index: 200;
    }
    .nav-links {
        position: absolute;
        background: #040f16;
        width: 50%;
        height: 85vh;
        right: 0;
        top: 58.5px;
        z-index: 100;
        border-radius: 10px 0 0 10px;
        flex-direction: column;
        padding: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li::before {
        display: none;
    }
    .nav-links a {
        color: #fbfbff;
        border-bottom: 1px solid #fbfbff;
        padding: 10px 0;
        width: 100%;
    }
    .toggle .line-1 {
        transform: rotate(-45deg) translate(-4.5px, 4px);
    }
    .toggle .line-2 {
        opacity: 0;
    }
    .toggle .line-3 {
        transform: rotate(45deg) translate(-4.5px, -4px);
    }
    .section-1 img {
        margin-left: 20px;
    }
    .section-2 h2 {
        font-size: 4em;
    }
    .section-2 .flex {
        flex-direction: column;
        justify-content: space-around;
    }
    .section-2 div > h2 {
        font-size: 2.4em;
        margin: 0;
        margin-top: 50px;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;
    }
    .section-2 form {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
        padding: 5px 5px 30px 5px;
        position: relative;
        z-index: 50;
    }
    .section-2 form h2 {
        position: relative;
        top: 15px;
    }
    .section-2 input {
        width: 80%;
        margin: 20px 20px 0 20px;
    }
    .section-3 .grid {
        column-gap: 30px;
    }
    .section-4::before {
        transform: rotate(0deg);
    }
    .section-4 .grid {
        grid-template-columns: 1fr;
    }
    .section-4 img {
        margin: 0 10px 0 10px;
        width: 350px;
        height: 90%;
        margin-bottom: 70px;
    }
    .section-4 .lneat {
        margin-bottom: 40px;
    }
    .section-4 li {
        color: #4a4e69;
    }
    .section-5 {
        margin-top: 50px;
    }
    .section-5 .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .section-5 .card-2:nth-of-type(7),
    .section-5 .card-2:nth-of-type(8) {
        grid-column: span 2;
    }
    .footer .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .section-1 img {
        width: 130px;
        height: 40px;
    }
    .burger {
        margin-right: 30px;
    }
    .nav-links {
        width: 70%;
        top: 48.5px;
    }
    .section-3 .grid {
        grid-template-columns: 1fr;
    }
    .section-3 .card:nth-of-type(1),
    .section-3 .card:nth-of-type(3) {
        justify-self: center;
    }
    .section-3 .card:nth-of-type(2),
    .section-3 .card:nth-of-type(4) {
        justify-self: center;
    }
    .section-4 img {
        min-width: 250px;
        height: 80%;
    }
    .section-4 ul {
        padding: 0;
    }
    .section-4 li {
        list-style: none;
    }
    .section-5 .grid {
        column-gap: 20px;
    }
    .about h1 {
        font-size: 2rem;
    }
    .about p {
        line-height: 1.8rem;
    }
    .footer .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
