/* utility classes */
/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 120px;
  justify-content: center;
}
.card {
  height: 170px;
  width: 200px;
  background: #bed4ff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  justify-self: center;
  align-self: center;
}
